extends common/layout
block content
    #role
        img(src='/images/roles/' + title + '.png' class="badge")

        div#text
            h1= role.name
            em= role.quote
            div!=description

        ul#behaviours
            each behaviour in role.behaviours
                li.behaviour= behaviour

        #xp
            - var i = 0
            - var w = 100 / slots
            while i < slots
                .slot(style="width: " + w + "%")
                -i++

        form#win(method="POST" action= title + "/win")

    script.
        var mob="#{mob}";
        var roleName="#{title}";
        var emptyRoles=!{roles};
    script(type="module" src="/js/role-front.js")
