extends common/layout
block content
    each level, index in roles
        .level
            h2 Level #{index + 1}
            each role in level
                a(href=`/${mob}/role/${role.name}`)
                    img(src=`/images/roles/${role.name}.png` class="badge")
                    if role.count !== 0
                        .count=role.count