extends common/layout
block content
    each level, index in displayableRoles
        .level
            h2 Level #{index + 1}
            each role in level
                a(href=`/${mob}/role/${role.name}`)
                    img(src=`/images/roles/${role.name}.png` class="badge")
                    .slots(data-name=role.name)
                        - for (var i=0; i<role.slots; i++)
                            .slot(style="width: " + 100/role.slots +  "%")
                    if role.count !== 0
                        .count=role.count

    script.
        var mob="#{mob}";
        var emptyRoles=!{roles};
    script(src='/js/roles-front.js' type="module")
